<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.dao.TravelArticleMapper" >
  <resultMap id="BaseResultMap" type="com.travel.model.TravelArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author_account" property="authorAccount" jdbcType="VARCHAR" />
    <result column="picture_main" property="pictureMain" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="article_class" property="articleClass" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="stamp" property="stamp" jdbcType="INTEGER" />
    <result column="top_flg" property="topFlg" jdbcType="CHAR" />
    <result column="adopt_flg" property="adoptFlg" jdbcType="CHAR" />
    <result column="adopt_reason" property="adoptReason" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 文章添加个人信息 -->
  <resultMap id="ExtendResultMap" type="com.travel.model.TravelArticle" >
    <id column="a_id" property="id" jdbcType="INTEGER" />
    <result column="a_article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="a_title" property="title" jdbcType="VARCHAR" />
    <result column="a_author_account" property="authorAccount" jdbcType="VARCHAR" />
    <result column="a_picture_main" property="pictureMain" jdbcType="VARCHAR" />
    <result column="a_time" property="time" jdbcType="TIMESTAMP" />
    <result column="a_article_class" property="articleClass" jdbcType="CHAR" />
    <result column="a_praise" property="praise" jdbcType="INTEGER" />
    <result column="a_stamp" property="stamp" jdbcType="INTEGER" />
    <result column="a_top_flg" property="topFlg" jdbcType="CHAR" />
    <result column="a_adopt_flg" property="adoptFlg" jdbcType="CHAR" />
    <result column="a_adopt_reason" property="adoptReason" jdbcType="VARCHAR" />
    <result column="a_del_flg" property="delFlg" jdbcType="CHAR" />
    <association property="travelUser" javaType="com.travel.model.TravelUser">
    <id column="u_id" property="id" jdbcType="INTEGER" />
	    <result column="u_account" property="account" jdbcType="VARCHAR" />
	    <result column="u_name" property="name" jdbcType="VARCHAR" />
	    <result column="u_head_portrait" property="headPortrait" jdbcType="VARCHAR" />
	    <result column="u_del_flg" property="delFlg" jdbcType="CHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, article_id, title, author_account, picture_main, time, article_class, content, praise, 
    stamp, top_flg, adopt_flg, adopt_reason, del_flg, create_id, create_time, update_id, 
    update_time
  </sql>
  <sql id="General_List">
  	id, article_id, title, author_account, picture_main, time, article_class,top_flg, adopt_flg,
  	del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from travel_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from travel_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.travel.model.TravelArticle" >
    insert into travel_article (id, article_id, title, 
      author_account, picture_main, time, 
      article_class, praise, stamp, 
      top_flg, adopt_flg, adopt_reason, 
      del_flg, create_id, create_time, 
      update_id, update_time, content
      )
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{authorAccount,jdbcType=VARCHAR}, #{pictureMain,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{articleClass,jdbcType=CHAR}, #{praise,jdbcType=INTEGER}, #{stamp,jdbcType=INTEGER}, 
      #{topFlg,jdbcType=CHAR}, #{adoptFlg,jdbcType=CHAR}, #{adoptReason,jdbcType=VARCHAR}, 
      #{delFlg,jdbcType=CHAR}, #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.travel.model.TravelArticle" >
    insert into travel_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="authorAccount != null" >
        author_account,
      </if>
      <if test="pictureMain != null" >
        picture_main,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="articleClass != null" >
        article_class,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="stamp != null" >
        stamp,
      </if>
      <if test="topFlg != null" >
        top_flg,
      </if>
      <if test="adoptFlg != null" >
        adopt_flg,
      </if>
      <if test="adoptReason != null" >
        adopt_reason,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorAccount != null" >
        #{authorAccount,jdbcType=VARCHAR},
      </if>
      <if test="pictureMain != null" >
        #{pictureMain,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="articleClass != null" >
        #{articleClass,jdbcType=CHAR},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="stamp != null" >
        #{stamp,jdbcType=INTEGER},
      </if>
      <if test="topFlg != null" >
        #{topFlg,jdbcType=CHAR},
      </if>
      <if test="adoptFlg != null" >
        #{adoptFlg,jdbcType=CHAR},
      </if>
      <if test="adoptReason != null" >
        #{adoptReason,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.model.TravelArticle" >
    update travel_article
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorAccount != null" >
        author_account = #{authorAccount,jdbcType=VARCHAR},
      </if>
      <if test="pictureMain != null" >
        picture_main = #{pictureMain,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="articleClass != null" >
        article_class = #{articleClass,jdbcType=CHAR},
      </if>
      <if test="praise != null" >
        praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="stamp != null" >
        stamp = #{stamp,jdbcType=INTEGER},
      </if>
      <if test="topFlg != null" >
        top_flg = #{topFlg,jdbcType=CHAR},
      </if>
      <if test="adoptFlg != null" >
        adopt_flg = #{adoptFlg,jdbcType=CHAR},
      </if>
      <if test="adoptReason != null" >
        adopt_reason = #{adoptReason,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.travel.model.TravelArticle" >
    update travel_article
    set article_id = #{articleId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      author_account = #{authorAccount,jdbcType=VARCHAR},
      picture_main = #{pictureMain,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      article_class = #{articleClass,jdbcType=CHAR},
      praise = #{praise,jdbcType=INTEGER},
      stamp = #{stamp,jdbcType=INTEGER},
      top_flg = #{topFlg,jdbcType=CHAR},
      adopt_flg = #{adoptFlg,jdbcType=CHAR},
      adopt_reason = #{adoptReason,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.model.TravelArticle" >
    update travel_article
    set article_id = #{articleId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      author_account = #{authorAccount,jdbcType=VARCHAR},
      picture_main = #{pictureMain,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      article_class = #{articleClass,jdbcType=CHAR},
      praise = #{praise,jdbcType=INTEGER},
      stamp = #{stamp,jdbcType=INTEGER},
      top_flg = #{topFlg,jdbcType=CHAR},
      adopt_flg = #{adoptFlg,jdbcType=CHAR},
      adopt_reason = #{adoptReason,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据条件查询出文章列表，查询条件待定,根据置顶，发布时间排序 -->
  <select id="selectBySelective" parameterType="com.travel.model.TravelArticle" resultMap="ExtendResultMap">
  	SELECT
    A.id as a_id,
    A.article_id as a_article_id,
    A.title as a_title,
    A.author_account as a_author_account,
    A.picture_main as a_picture_main,
    A.time as a_time,
    A.article_class as a_article_class,
    A.praise as a_praise,
    A.stamp as a_stamp,
    A.top_flg as a_top_flg,
    A.adopt_flg as a_adopt_flg,
    A.adopt_flg as a_adopt_reason,
    A.del_flg as a_del_flg,
    U.id as u_id,
	U.account as u_account,
	U.name as u_name,
	U.head_portrait as u_head_portrait,
	U.del_flg as u_del_flg
    FROM travel_article A
    LEFT JOIN travel_user U ON A.author_account = U.account
    <where>
    	<if test="delFlg != null">
    		AND A.del_flg = #{delFlg,jdbcType=CHAR}
    	</if>
    	<if test="adoptFlg != null">
    		AND A.adopt_flg = #{adoptFlg,jdbcType=CHAR}
    	</if>
    </where>
    ORDER BY top_flg,time DESC
  </select>
</mapper>