<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.dao.TravelRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.travel.model.TravelRecommend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="recommend_id" property="recommendId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author_account" property="authorAccount" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="recommend_class" property="recommendClass" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="picture_one" property="pictureOne" jdbcType="VARCHAR" />
    <result column="picture_two" property="pictureTwo" jdbcType="VARCHAR" />
    <result column="picture_thr" property="pictureThr" jdbcType="VARCHAR" />
    <result column="picture_fou" property="pictureFou" jdbcType="VARCHAR" />
    <result column="picture_fiv" property="pictureFiv" jdbcType="VARCHAR" />
    <result column="praise" property="praise" jdbcType="INTEGER" />
    <result column="stamp" property="stamp" jdbcType="INTEGER" />
    <result column="top_flg" property="topFlg" jdbcType="CHAR" />
    <result column="adopt_flg" property="adoptFlg" jdbcType="CHAR" />
    <result column="adopt_reason" property="adoptReason" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="CHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recommend_id, title, author_account, time, recommend_class, content, picture_one, 
    picture_two, picture_thr, picture_fou, picture_fiv, praise, stamp, top_flg, adopt_flg, 
    adopt_reason, del_flg, create_id, create_time, update_id, update_time
  </sql>
  <!-- 只读取列表时需要的信息，只需要首张图片，标题，时间 -->
  <sql id="General_List">
  	id, recommend_id, title, author_account, time, recommend_class,picture_one,del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from travel_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from travel_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.travel.model.TravelRecommend" >
    insert into travel_recommend (id, recommend_id, title, 
      author_account, time, recommend_class, 
      content, picture_one, picture_two, 
      picture_thr, picture_fou, picture_fiv, 
      praise, stamp, top_flg, 
      adopt_flg, adopt_reason, del_flg, 
      create_id, create_time, update_id, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{recommendId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{authorAccount,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{recommendClass,jdbcType=CHAR}, 
      #{content,jdbcType=VARCHAR}, #{pictureOne,jdbcType=VARCHAR}, #{pictureTwo,jdbcType=VARCHAR}, 
      #{pictureThr,jdbcType=VARCHAR}, #{pictureFou,jdbcType=VARCHAR}, #{pictureFiv,jdbcType=VARCHAR}, 
      #{praise,jdbcType=INTEGER}, #{stamp,jdbcType=INTEGER}, #{topFlg,jdbcType=CHAR}, 
      #{adoptFlg,jdbcType=CHAR}, #{adoptReason,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.model.TravelRecommend" >
    insert into travel_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recommendId != null" >
        recommend_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="authorAccount != null" >
        author_account,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="recommendClass != null" >
        recommend_class,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pictureOne != null" >
        picture_one,
      </if>
      <if test="pictureTwo != null" >
        picture_two,
      </if>
      <if test="pictureThr != null" >
        picture_thr,
      </if>
      <if test="pictureFou != null" >
        picture_fou,
      </if>
      <if test="pictureFiv != null" >
        picture_fiv,
      </if>
      <if test="praise != null" >
        praise,
      </if>
      <if test="stamp != null" >
        stamp,
      </if>
      <if test="topFlg != null" >
        top_flg,
      </if>
      <if test="adoptFlg != null" >
        adopt_flg,
      </if>
      <if test="adoptReason != null" >
        adopt_reason,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recommendId != null" >
        #{recommendId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorAccount != null" >
        #{authorAccount,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendClass != null" >
        #{recommendClass,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictureOne != null" >
        #{pictureOne,jdbcType=VARCHAR},
      </if>
      <if test="pictureTwo != null" >
        #{pictureTwo,jdbcType=VARCHAR},
      </if>
      <if test="pictureThr != null" >
        #{pictureThr,jdbcType=VARCHAR},
      </if>
      <if test="pictureFou != null" >
        #{pictureFou,jdbcType=VARCHAR},
      </if>
      <if test="pictureFiv != null" >
        #{pictureFiv,jdbcType=VARCHAR},
      </if>
      <if test="praise != null" >
        #{praise,jdbcType=INTEGER},
      </if>
      <if test="stamp != null" >
        #{stamp,jdbcType=INTEGER},
      </if>
      <if test="topFlg != null" >
        #{topFlg,jdbcType=CHAR},
      </if>
      <if test="adoptFlg != null" >
        #{adoptFlg,jdbcType=CHAR},
      </if>
      <if test="adoptReason != null" >
        #{adoptReason,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.model.TravelRecommend" >
    update travel_recommend
    <set >
      <if test="recommendId != null" >
        recommend_id = #{recommendId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorAccount != null" >
        author_account = #{authorAccount,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendClass != null" >
        recommend_class = #{recommendClass,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictureOne != null" >
        picture_one = #{pictureOne,jdbcType=VARCHAR},
      </if>
      <if test="pictureTwo != null" >
        picture_two = #{pictureTwo,jdbcType=VARCHAR},
      </if>
      <if test="pictureThr != null" >
        picture_thr = #{pictureThr,jdbcType=VARCHAR},
      </if>
      <if test="pictureFou != null" >
        picture_fou = #{pictureFou,jdbcType=VARCHAR},
      </if>
      <if test="pictureFiv != null" >
        picture_fiv = #{pictureFiv,jdbcType=VARCHAR},
      </if>
      <if test="praise != null" >
        praise = #{praise,jdbcType=INTEGER},
      </if>
      <if test="stamp != null" >
        stamp = #{stamp,jdbcType=INTEGER},
      </if>
      <if test="topFlg != null" >
        top_flg = #{topFlg,jdbcType=CHAR},
      </if>
      <if test="adoptFlg != null" >
        adopt_flg = #{adoptFlg,jdbcType=CHAR},
      </if>
      <if test="adoptReason != null" >
        adopt_reason = #{adoptReason,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.model.TravelRecommend" >
    update travel_recommend
    set recommend_id = #{recommendId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      author_account = #{authorAccount,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      recommend_class = #{recommendClass,jdbcType=CHAR},
      content = #{content,jdbcType=VARCHAR},
      picture_one = #{pictureOne,jdbcType=VARCHAR},
      picture_two = #{pictureTwo,jdbcType=VARCHAR},
      picture_thr = #{pictureThr,jdbcType=VARCHAR},
      picture_fou = #{pictureFou,jdbcType=VARCHAR},
      picture_fiv = #{pictureFiv,jdbcType=VARCHAR},
      praise = #{praise,jdbcType=INTEGER},
      stamp = #{stamp,jdbcType=INTEGER},
      top_flg = #{topFlg,jdbcType=CHAR},
      adopt_flg = #{adoptFlg,jdbcType=CHAR},
      adopt_reason = #{adoptReason,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=CHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询出推荐内容列表(查询条件待定) -->
  <select id="selectBySelective" parameterType="com.travel.model.TravelRecommend" resultMap="BaseResultMap">
  	select 
    <include refid="General_List" />
    from travel_recommend
    where del_flg = #{delFlg,jdbcType=CHAR}
    and adopt_flg = #{adoptFlg,jdbcType=CHAR}
  </select>
</mapper>